streamlit
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-text-splitters
faiss-cpu
pandas
matplotlib
openpyxl
pymupdf
requests
PyGithub
geopy
python-dotenv
duckduckgo-search


.\.venv\Scripts\python.exe -m streamlit run streamlit_frountend.py